# Base de Empresas Minas Gerais (CNPJ)

In [1]:
import pandas as pd #Ativar pacotes
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
%matplotlib inline

## Importar e filtrar arquivo dos Estabelecimentos de Teófilo Otoni

### Estabelecimentos

In [ ]:
EstabMG = pd.read_csv ("EstabelecimentosMG.csv",
                     sep=";", encoding='ISO-8859-1', dtype='unicode') #Importar o arquivo

In [ ]:
EstabMG.columns = ['linha', 'CNPJB', 'CNPJORD', 'CNPJDV', 'MATFIL', 'FANTA', 'SITCAD', 
                   'DATASITCAD', 'MOTSITCAD', 'CIDEXT', 'PAIS', 'DATAINICIO', 
                   'CNAEP', 'CNAESEC', 'TLOGRAD', 'LOGRADOURO', 'NUMERO', 
                   'COMPLEMENTO', 'BAIRRO', 'CEP', 'UF', 'MUNICIPIO', 'DDD1', 
                   'TEL1', 'DDD', 'TEL2', 'DDDFAX', 'FAX', 'E-MAIL', 'SITESPEC', 'DATASITESPEC']

In [ ]:
EstabTEO = EstabMG.loc[EstabMG['MUNICIPIO']=="5371"] #Filtro (Teófilo Otoni - 5371)

In [ ]:
EstabTEOativas = EstabTEO.loc[EstabTEO['SITCAD']=="02"] #Filtro (Empresas Ativas - 02)

In [ ]:
EstabTEOativas

### Empresas

In [ ]:
Empresas = pd.read_csv ("Empresas.csv",
                         sep=";", encoding='ISO-8859-1', dtype='unicode') #Importar o arquivo

In [ ]:
Empresas

### Junção

In [ ]:
EstabempTeo = pd.merge(EstabTEOativas, Empresas, on=['CNPJB'], how='left')

In [ ]:
EstabempTeo

In [ ]:
EstabempTeo.to_csv('EstabempTeo.csv', index=True, sep=";")

### Simples

In [2]:
Simples = pd.read_csv ("Simples.csv",
                         sep=";", encoding='ISO-8859-1', dtype='unicode') #Importar o arquivo

In [ ]:
EstabempTeosimples = pd.merge(EstabempTeo, Simples, on=['CNPJB'], how='left')

In [ ]:
EstabempTeosimples.to_csv('EstabempTeosimples.csv', index=True, sep=";")

In [ ]:
EstabempTeosimples

In [3]:
EstabempTeosimples = pd.read_csv ("EstabempTeosimples.csv",
                         sep=";", encoding='ISO-8859-1', dtype='unicode') #Importar o arquivo

In [3]:
del Simples

### Sócios

In [2]:
Socios = pd.read_csv ("Socios.csv",
                         sep=";", encoding='ISO-8859-1', dtype='unicode') #Importar o arquivo

In [8]:
SociosEmpTeo = pd.merge(Socios, EstabempTeosimples, on=['CNPJB'], how='inner')

In [10]:
SociosEmpTeo.to_csv('SociosEmpTeo.csv', index=True, sep=";")

In [9]:
SociosEmpTeo

,Unnamed: 0_x,CNPJB,IDENTSOCIO,NOMESOCIO,CNPJCPFSOCIO,QUALIFCSOCIO,DATAENTRADASOCIEDADE,PAIS_x,REPRESLEGAL,NOMEREPRES,...,CAPITALSOCIAL,PORTE,ENTEFEDERADO,Unnamed: 0_y,OPCAOSIMPLES,DATAOPCAO,DATAEXCLUSAO,OPCAOMEI,DATAOPCAOMEI,DATAEXCLUSAOMEI
0,1109,18588555,2,GILSON BATISTA SILVA,***729046**,49,20130731,NaN,***000000**,NaN,...,"6000,00",03,NaN,8870389,S,20180101,00000000,N,00000000,00000000
1,6605,18748747,2,FERNANDO HENRIQUE AMARAL SOUZA,***913286**,49,20130826,NaN,***000000**,NaN,...,"300000,00",01,NaN,8998960,S,20130826,00000000,N,00000000,00000000
2,6606,18748747,2,JOSE RENOBIO DE SOUZA,***104786**,22,20130826,NaN,***000000**,NaN,...,"300000,00",01,NaN,8998960,S,20130826,00000000,N,00000000,00000000
3,6607,18748747,2,TANURE AMARAL SOUZA,***561786**,22,20130826,NaN,***000000**,NaN,...,"300000,00",01,NaN,8998960,S,20130826,00000000,N,00000000,00000000
4,27377,15484024,2,FLAVIO AMARAL DOS SANTOS,***336546**,49,20211006,NaN,***000000**,NaN,...,"50000,00",01,NaN,6918722,S,20190101,00000000,N,00000000,00000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8043,2006337,15565626,2,CELIA MARIA ALMEIDA MOTA,***852646**,22,20120521,NaN,***000000**,NaN,...,"20000,00",01,NaN,6981750,S,20150101,00000000,N,00000000,00000000
8044,2008419,17371058,2,DANIEL MOREIRA PINTO,***060796**,22,20121213,NaN,***000000**,NaN,...,"1000,00",01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8045,2008420,17371058,2,VANIA SOARES DE OLIVEIRA E ALMEIDA PINTO,***103818**,22,20121213,NaN,***000000**,NaN,...,"1000,00",01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8046,2008421,17371058,2,JACKSON GOMES PINTO,***723756**,49,20160517,NaN,***000000**,NaN,...,"1000,00",01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8047,2015687,11773963,2,NILVA APARECIDA CHAGAS GUIDA,***930376**,65,20100405,NaN,***000000**,NaN,...,"110000,00",03,NaN,4078538,S,20170101,00000000,N,00000000,00000000